<h1 class="page-heading">Projects <small>Sub heading here</small></h1>

<ol class="breadcrumb default rsaquo sm">
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home"></i>
    <% end %>
  </li>
  <li class="active">Projects</li>
</ol>

<div class="panel ProjectsIndex">
  <table class="table table-hover">
    <tbody>

      <% @projects.each do |project| %>
        <tr>
          <td class="project-status">
            <span class="label label-primary">
              Send
            </span>
          </td>
          <td class="ProjectTitle">
            <%= link_to project.name, project %>
            <br>
            <small class="text-muted">Created 14.08.2014</small>
          </td>
          <td class="project-people">
            ss
          </td>
          <td class="project-actions clearfix">
            <div class="pull-right">
              <%= link_to project, class: 'btn btn-info btn-sm' do %>
                <i class="fa fa-folder"></i> View 
              <% end %>
              <a href="#" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i> Edit 
              </a>
            </div>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>