.nav-header {
  padding: 35px;
  background: #0e9aef;
  background: url('http://webapplayers.com/inspinia_admin-v1.7/css/patterns/header-profile-skin-1.png');
  .profile-element {
    text-align: center;
    img {
      border-radius: 5px;
    }
    .UserName {
      margin-top: 10px;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

